<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="DiscussMapper">
	<!-- 토론방 리스트 확인 -->
	<select id="ListCount" resultType="_int">
		SELECT COUNT(*)
		FROM DISCUSS
		WHERE D_STATUS = 'Y'
		<if test="type != null">
			<choose>
				<when test="type==1">
					AND D_TITLE like '%' || #{text} || '%'
				</when>
				<when test="type==2">
					AND D_CONTENT like '%' || #{text} || '%'
				</when>
				<when test="type==3">
					AND D_WRITER like '%' || #{text} || '%'
				</when>
			</choose>
		</if>
	</select>
	
	<!-- 토론방 리스트 가져오기 -->
	<select id="selectList" resultMap="discussResultSet">
		SELECT *
		FROM DISCUSS
		WHERE D_STATUS = 'Y'
		<if test="type != null">
			<choose>
				<when test="type==1">
					AND D_TITLE like '%' || #{text} || '%'
				</when>
				<when test="type==2">
					AND D_CONTENT like '%' || #{text} || '%'
				</when>
				<when test="type==3">
					AND D_WRITER like '%' || #{text} || '%'
				</when>
			</choose>
		</if>
		ORDER BY D_NO DESC
	</select>
	
	<!-- 토론방 리절트셋 -->
	<resultMap type="Discuss" id="discussResultSet">
		<id property="dNo" column="D_NO" />
		<result property="dTitle" column="D_TITLE"/>
		<result property="dWriter" column="D_WRITER"/>
		<result property="dContent" column="D_CONTENT"/>
		<result property="dCreate" column="D_CREATE"/>
		<result property="dPros" column="D_PROS"/>
		<result property="dCons" column="D_CONS"/>
		<result property="dNeutrality" column="D_NEUTRALITY"/>
		<result property="dCount" column="D_COUNT"/>
		<result property="dStatus" column="D_STATUS"/>
		<result property="atcNo" column="ATC_NO"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
	</resultMap>
	
	<!-- 토론방 사진 리스트 -->
	<select id="selectAtList" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE ATC_STATUS = 'Y' AND BOARD_NO = 0
	</select>
	
	<!-- 파일 리절트 셋 -->
	<resultMap type="Attachment" id="attachmentResultSet">
		<id property="atcNo" column="ATC_NO"/>
		<result property="atcLevel" column="ATC_LEVEL"/>
		<result property="atcCode" column="ATC_CODE"/>
		<result property="atcOrigin" column="ATC_ORIGIN"/>
		<result property="atcName" column="ATC_NAME"/>
		<result property="atcPath" column="ATC_PATH"/>
		<result property="atcDate" column="ATC_DATE"/>
		<result property="atcStatus" column="ATC_STATUS"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>
	
	<!-- 토론방 파일 저장 -->
	<insert id="insertDAttachment">
		INSERT INTO ATTACHMENT
		VALUES(SEQ_ATC.NEXTVAL, #{atcLevel}, NULL, #{atcOrigin}, #{atcName},
				#{atcPath}, SYSDATE, DEFAULT, 0)
	</insert>
	
	<!-- 토론방 작성 -->
	<insert id="insertDiscuss">
		INSERT INTO DISCUSS
		VALUES(D_SEQ.NEXTVAL, #{dTitle}, #{dContent}, SYSDATE, DEFAULT, DEFAULT, DEFAULT, DEFAULT, DEFAULT,
		<choose>
			<when test="atcNo == 1">
				SEQ_ATC.CURRVAL,
			</when>
			<otherwise>
				0,
			</otherwise>
		</choose>
		#{dWriter}, SYSDATE)
	</insert>
	
	<!-- 토론방 상세페이지 -->
	<select id="selectDiscuss" resultMap="discussResultSet">
		SELECT *
		FROM DISCUSS
		WHERE D_NO = #{dNo}
	</select>
	
	<!-- 토론방 상세페이지 사진검색 -->
	<select id="selectAt" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE ATC_NO = #{atcNo}
	</select>
	
	<!-- 토론방 파일 수정시 -->
	<update id="updateAt">
		UPDATE ATTACHMENT SET ATC_ORIGIN = #{atcOrigin}, ATC_NAME= #{atcName} WHERE ATC_NO=#{atcNo}
	</update>
	
	<!-- 토론방 수정 -->
	<update id="updateDiscuss">
		UPDATE DISCUSS SET D_TITLE=#{dTitle}, D_CONTENT=#{dContent}, ENROLL_DATE = SYSDATE WHERE D_NO = #{dNo}
	</update>
	
	<!-- 토론방 삭제 -->
	<update id="deleteDiscuss">
		UPDATE DISCUSS SET D_STATUS='N' WHERE D_NO = #{dNo}
	</update>
	
	<!-- 댓글 추가시 카운터 증가 -->
	<update id="updateCount">
		UPDATE DISCUSS SET D_COUNT = D_COUNT + 1,
		<choose>
			<when test='rWhether == "P"'>
				D_PROS = D_PROS + 1
			</when>
			<when test='rWhether == "C"'>
				D_CONS = D_CONS + 1
			</when>
			<otherwise>
				D_NEUTRALITY = D_NEUTRALITY + 1
			</otherwise>
		</choose>
		 WHERE D_NO = ${dNo}
	</update>
	
	<!-- 댓글 추가 -->
	<insert id="insertReply">
		INSERT INTO RELPY 
		VALUES(R_SEQ.NEXTVAL, #{rContent}, SYSDATE, DEFAULT, #{rWhether}, #{rWriter}, #{dNo})
	</insert>
	
	<!-- 댓글 리스트 가져오기 -->
	<select id="selectRList" resultMap="ReplyResultSet">
		SELECT *
		FROM RELPY
		WHERE STATUS = 'Y' AND D_NO = #{dNo}
		<if test="cho == 1">
			ORDER BY R_NO ASC
		</if>
		<if test="cho == 2">
			ORDER BY R_NO DESC
		</if>
	</select>
	
	<!-- 댓글 삭제 -->
	<update id="rDelete">
		UPDATE RELPY SET STATUS = 'N' WHERE R_NO = #{rNo}
	</update>
	
	<!-- 댓글 삭제후 토론방 카운트 변경 -->
	<update id="changeCount">
		UPDATE DISCUSS SET D_COUNT = D_COUNT - 1,
		<choose>
			<when test='rWhether == "찬성"'>
				D_PROS = D_PROS - 1
			</when>
			<when test='rWhether == "반대"'>
				D_CONS = D_CONS - 1
			</when>
			<otherwise>
				D_NEUTRALITY = D_NEUTRALITY - 1
			</otherwise>
		</choose>
		 WHERE D_NO = #{dNo}
	</update>
	
	<!-- 댓글 수정시 성향 변경시 -->
	<update id="changePCN">
		UPDATE DISCUSS SET
		<choose>
			<when test='check == "찬성"'>
				D_PROS = D_PROS - 1,
			</when>
			<when test='check == "반대"'>
				D_CONS = D_CONS - 1,
			</when>
			<otherwise>
				D_NEUTRALITY = D_NEUTRALITY - 1,
			</otherwise>
		</choose>
		<choose>
			<when test='PCN == "P"'>
				D_PROS = D_PROS + 1
			</when>
			<when test='PCN == "N"'>
				D_NEUTRALITY = D_NEUTRALITY + 1
			</when>
			<otherwise>
				D_CONS = D_CONS + 1
			</otherwise>
		</choose>
		WHERE D_NO = #{dNo}
	</update>
	
	<!-- 댓글 수정 -->
	<update id="rUpdate">
		UPDATE RELPY SET
		R_CONTENT = #{rContent}, R_WHETHER = #{rWhether}
		WHERE R_NO = #{rNo}
	</update>
	<!-- 댓글 리절트 셋 -->
	<resultMap type="Reply" id="ReplyResultSet">
		<id property="rNo" column="R_NO"/>
		<result property="rContent" column="R_CONTENT"/>
		<result property="rDate" column="R_DATE"/>
		<result property="rStatus" column="STATUS"/>
		<result property="rWhether" column="R_WHETHER"/>
		<result property="rWriter" column="R_WRITER"/>
		<result property="dNo" column="D_NO"/>
	</resultMap>
	<!-- 토론방 리스트 메인페이지로 -->
	<select id="discussf" resultMap="discussResultSet">
		<![CDATA[
        SELECT D_NO, D_TITLE
        FROM DISCUSS
        WHERE ENROLL_DATE > SYSDATE-1 AND ROWNUM <= 17
        ORDER BY D_COUNT DESC
        ]]>
	</select>
	<select id="discussd" resultMap="discussResultSet">
	<![CDATA[
        SELECT D_NO, D_TITLE
        FROM DISCUSS
        WHERE ENROLL_DATE > SYSDATE- #{value} AND ROWNUM <= 17
        ORDER BY D_COUNT DESC
	]]>
	</select>
	<select id="discussw" resultMap="discussResultSet">
	<![CDATA[
        SELECT D_NO, D_TITLE
        FROM DISCUSS
        WHERE ENROLL_DATE > SYSDATE- #{value} AND ROWNUM <= 17
        ORDER BY D_COUNT DESC
	]]>
	</select>
	<select id="discussm" resultMap="discussResultSet">
	<![CDATA[
        SELECT D_NO, D_TITLE
        FROM DISCUSS
        WHERE ENROLL_DATE > SYSDATE- #{value} AND ROWNUM <= 17
        ORDER BY D_COUNT DESC
	]]>
	</select>
	<!-- 토론방 모두 가지고오기  -->
	<select id="selectAllList" resultMap="discussResultSet">
		SELECT *
		FROM DISCUSS
		ORDER BY D_CREATE DESC
	</select>
</mapper>
