<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
	<select id="selectOne" parameterType="Member" resultMap="memberResultSet">
		select *
		from member
		where USER_ID = #{id}
				and STATUS = 'Y'
	</select>
	<resultMap type="Member" id="memberResultSet">
		<id property = "id" column="USER_ID"/>
		<result property="pwd" column="PWD"/>
		<result property="name" column="MNAME"/>
		<result property="gender" column="GENDER"/>
		<result property="birthDay" column="BIRTHDAY"/>
		<result property="email" column="EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="address" column="ADDRESS"/>
		<result property="mbti" column="MBTI"/>
		<result property="mStatus" column="STATUS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="point" column="MPOINT"/>
		<result property="rank" column="MRANK"/>
		<result property="grantId" column="GRANT_ID"/>
	</resultMap>
	
	<select id="searchId" resultType="String">
		select user_id
		from member 
		where mname = #{user_name} and phone = #{user_phone} and status = 'Y'
	</select>
	
	<insert id="insertMember">
		insert into member
		values(#{id}, #{pwd}, #{name}, #{gender}, #{birthDay}, #{email}, #{phone}, #{address}, #{mbti},
				default, sysdate, default, default, default)
	</insert>
	
	<select id="checkIdDup" resultType="_int">
		select count(*)
		from member
		where user_id = #{id}
	</select>
	
	<select id="checkEmailDup" resultType="_int">
		select count(*)
		from member
		where EMAIL = #{email}
	</select>
	
	<update id="changePw">
		UPDATE member 
		SET pwd = #{key} 
		WHERE user_id = #{user_id}
	</update>
	
	<update id="updatePwd">
		UPDATE member 
		SET pwd = #{newPwd} 
		WHERE user_id = #{id}
	</update>
	
	
	<update id="UpdateMember">
		UPDATE member SET PWD = #{ pwd } , MNAME = #{ name },
						  GENDER = #{ gender },BIRTHDAY = #{ birthDay },EMAIL = #{ email },PHONE = #{ phone },ADDRESS = #{ address }
						  , MBTI = #{ mbti }
		
		WHERE user_id = #{ id }
	</update>
	
	
	
	<update id="memberDelete"  >
 	
		UPDATE member SET STATUS= 'N'
		
		WHERE user_id = #{ id }
 		
 	</update>
	
	<select id="getMemListCount" resultType="_int">
		select count(*)
		from member
		where status = 'Y'
	</select>
	
	<select id="getMemDeleteListCount" resultType="_int">
		select count(*)
		from member
		where status = 'N'
	</select>
	
	<select id="selectMemberList" resultMap="memberResultSet">
		select *
		from member
		where status = 'Y'
	</select>
	<select id="selectdeleteMemberList" resultMap="memberResultSet">
		select *
		from member
		where status = 'N'
	</select>
	<update id="deleteMemberList">
		update member
		set status = 'N'
		where user_id = #{id}
	</update>
	<update id="recoveryMemberList">
		update member
		set status = 'Y'
		where user_id = #{id}
	</update>
	
	<insert id="insertKMember">
		insert into member
		values(#{id}, #{pwd}, #{name}, #{gender}, sysdate, #{email}, #{phone}, null, null,
				default, sysdate, default, default, default)
	</insert>
	
	<insert id="insertNMember">
		insert into member
		values(#{id}, #{pwd}, #{name}, #{gender}, sysdate, #{email}, #{phone}, null, null,
				default, sysdate, default, default, default)
	</insert>
	
	<update id="upPointUser">
		UPDATE member 
		SET MPOINT = MPOINT + #{point} 
		WHERE user_id = #{id}
	</update>
	
	<select id="muchPoint" resultType="_int">
		select MPOINT
		from member
		where user_id = #{id}
	</select>
	
	<update id="changeRank">
		UPDATE member 
		SET MRANK = #{rank} 
		WHERE user_id = #{id}
	</update>
	
	<select id="getEnrollList" resultMap="enrollCount">
		<![CDATA[
			select * from(
			select to_char(enroll_date,'yy/MM/dd') as day,count(*) count
			from member
			where to_char(enroll_date,'yy/MM/dd') <= #{today}
			group by to_char(enroll_date,'yy/MM/dd')
			order by to_char(enroll_date,'yy/MM/dd')  desc) where rownum <= 5
		]]>
	</select>
	<resultMap id="enrollCount" type="java.util.HashMap">
		<result javaType="java.lang.String" column="day" property="day"/>
		<result javaType="java.lang.String" column="count" property="count"/>
	</resultMap>
	
	<update id="downPointUser">
		UPDATE member 
		SET MPOINT = MPOINT - #{point} 
		WHERE user_id = #{id}
	</update>
	
	<select id="getGender" resultMap="genderMap">
		select gender,count(*) as count 
		from member
		where status = 'Y'
		group by gender
	</select>
	<resultMap type="java.util.HashMap" id="genderMap">
		<result javaType="java.lang.String" column="gender" property="gender"/>
		<result javaType="java.lang.String" column="count" property="count"/>
	</resultMap>
	
	<select id="getRankCount" resultMap="rankMap">
		select  grant_name as rank, count(*) as count
		from member
		join mgrant
		using(grant_id)
		where status = 'Y' and grant_id  not in (1)
		group by  grant_name
	</select>
	 
	<resultMap type="java.util.HashMap" id="rankMap">
		<result javaType="java.lang.String" column="rank" property="rank"/>
		<result javaType="java.lang.String" column="count" property="count"/>
	</resultMap>
	
	<update id="changePoint">
		UPDATE MEMBER
		SET MPOINT = MPOINT - #{point} 
		WHERE user_id = #{id}
	</update>
</mapper>
